body {
    background-color: beige;
    margin-right: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8ex;
    padding: 1ex 5em;
    box-sizing: border-box;
    background-color: coral;
}

#title {
    float: left;
    text-align: left;
    font-size: 4ex;
}

#links {
    float: right;
    text-align: right;
}

#content {
    margin-top: 12ex;
}

.padded-top {
    padding-top: 1ex;
}

.padded-left {
    padding-left: 1em;
}

.padded-bottom {
    padding-bottom: 1ex;
}

.input-padded {
    padding-bottom: 0.5ex;
}

.margin-top {
    margin-top: 1ex;
}

.horizontal {
    display: inline;
    padding-right: 0.5em;
}

.bordered {
    border-right: 1px solid black;
}

.display-blocky {
    display: block;
}
