<h2>@ViewBag.Title</h2>
<div>
    <a class="display-blocky" href="/Subforum/@ViewBag.Subforum/@ViewBag.Theme">Go to @ViewBag.Subforum/@ViewBag.Theme</a>
    <a class="display-blocky" href="/">Go to home</a>
</div>
