<h2>@ViewBag.Title</h2>
<div>
    <a class="display-blocky"
       href="/Subforum/@ViewBag.Comment.SubforumName/@ViewBag.Comment.ThemeTitle">
        Go to @ViewBag.Comment.SubforumName/@ViewBag.Comment.ThemeTitle
    </a>
    <a class="display-blocky" href="/">Go to home</a>
</div>
